@{
    Layout = "~/Views/Shared/_Apostas.cshtml";
    double porcentagemA = 0, porcentagemB = 0, porcentagemEmpate = 0;
}

<section id="aposta">
    <div class="container">
        <form class="form-inline">
            <div class="form-group filtro">
                <label>Filtrar por</label>
                <select class="form-control mx-sm-3 mb-2" onchange="selecionarJogo(this)">
                    <option></option>
                    @foreach (ProjetoBolao.Models.Time t in ProjetoBolao.DAO.TimeDAO.ListarTimes())
                    {
                        <option>@t.NomeTime</option>
                    }
                </select>
            </div>
        </form>
        <div id="main-col">
            <h1>Todos os jogos</h1>
        </div>
        <form>
            <div class="container-fluid" id="div">

                @foreach (ProjetoBolao.Models.Jogo j in ViewBag.Jogos)
                {
                    if (j.Ocorreu == 1)
                    {
                        continue;
                    }

                    List<ProjetoBolao.Models.Votacao> votos = new List<ProjetoBolao.Models.Votacao>();
                    ProjetoBolao.Models.Usuario u = (ProjetoBolao.Models.Usuario)Session["UsuarioLogado"];
                    ProjetoBolao.Models.Votacao vot = null;
                    ProjetoBolao.Models.Time timeA = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeA);
                    ProjetoBolao.Models.Time timeB = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeB);

                    double qtdA = 0;
                    double qtdB = 0;
                    double qtdEmpate = 0;


                    if (ViewBag.Votos != null)
                    {
                        foreach (ProjetoBolao.Models.Votacao v in ViewBag.Votos)
                        {
                            if (v.CodJogo == j.Id)
                            {
                                vot = v;
                            }

                        }
                        foreach (ProjetoBolao.Models.Votacao v in ViewBag.TodosOsVotos)
                        {
                            if (v.CodJogo == j.Id)
                            {
                                votos.Add(v);
                            }
                        }

                        foreach (ProjetoBolao.Models.Votacao v in votos)
                        {
                            if (v.CodTimeVotado == timeA.Id)
                            {
                                qtdA++;
                            }
                            else
                            {
                                if (v.CodTimeVotado == timeB.Id)
                                {
                                    qtdB++;
                                }
                                else
                                {
                                    qtdEmpate++;
                                }
                            }
                        }

                        porcentagemA = Math.Round((qtdA / double.Parse(votos.Count() + "") * 100));
                        porcentagemB = Math.Round((qtdB / double.Parse(votos.Count() + "") * 100));
                        porcentagemEmpate = Math.Round((qtdEmpate / double.Parse(votos.Count() + "") * 100));


                    } 
                    <ul class="jogos" id="lista">
                        <li>
                            <input type="hidden" value="@timeA.NomeTime+@timeB.NomeTime" class="inputNomeTimes" />
                            <div class="card-group">
                                <!-- Card 1 -->
                                <div class="card">
                                    <div class="card-header">@timeA.NomeTime</div>
                                    <div class="card-body">
                                        <img src="@timeA.Foto" alt="Photo of sunset">
                                    </div>
                                </div>
                                <!-- Card 2 -->
                                <div class="card">
                                    <div class="card-header">@timeB.NomeTime</div>
                                    <div class="card-body ">
                                        <img src="@timeB.Foto" alt="Photo of sunset">
                                    </div>
                                </div>
                            </div>
                        </li>
                        @if (Session["usuarioLogado"] == null)
                        {

                            <li><br />Quer votar, cadastra-se @Html.ActionLink("clicando aqui", "Index", "Cadastro") e comece a apostar <br /><br /></li>
                        }
                        else
                        {
                            <li>
                                <br />
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        @if (vot != null)
                                        {

                                            if (vot.CodTimeVotado == timeA.Id)
                                            {

                                                <button href="#" name="v.CodTimeVotado" value="@timeA.Id+@j.Id" disabled class="btn btn-block btn-primary">Vitoria do @timeA.NomeTime&#10003;</button>
                                            }
                                            else
                                            {
                                                <button href="#" name="v.CodTimeVotado" value="@timeA.Id+@j.Id" disabled class="btn btn-block btn-primary">Vitoria do @timeA.NomeTime</button>
                                            }
                                        }
                                        else
                                        {
                                            <button id="Votar" name="v.CodTimeVotado" class="btn btn-primary btn-block" onclick="votar(this)" value="@timeA.Id+@j.Id">Vitoria do @timeA.NomeTime</button>

                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        @if (vot != null)
                                        {
                                            if (vot.CodTimeVotado == 0)
                                            {
                                                <button href="#" name="v.CodTimeVotado" disabled value="0+@j.Id" class="btn btn-block btn-danger">Empate &#10003;</button>
                                            }
                                            else
                                            {
                                                <button href="#" name="v.CodTimeVotado" disabled value="0+@j.Id" class="btn btn-block btn-danger">Empate</button>
                                            }
                                        }
                                        else
                                        {
                                            <button id="Votar" name="v.CodTimeVotado" href="#" onclick="votar(this)" class="btn btn-block btn-danger" value="0+@j.Id">Empate</button>

                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        @if (vot != null)
                                        {
                                            if (vot.CodTimeVotado == timeB.Id)
                                            {
                                                <button href="#" name="v.CodTimeVotado" disabled value="@timeB.Id+@j.Id" class="btn btn-block btn-primary">Vitoria do @timeB.NomeTime &#10003;</button>
                                            }
                                            else
                                            {
                                                <button href="#" name="v.CodTimeVotado" disabled value="@timeB.Id+@j.Id" class="btn btn-block btn-primary">Vitoria do @timeB.NomeTime</button>
                                            }
                                        }
                                        else
                                        {
                                            <button id="Votar" name="v.CodTimeVotado" onclick="votar(this)" href="#" class="btn btn-primary btn-block" value="@timeB.Id+@j.Id">Vitoria do @timeB.NomeTime</button>

                                        }
                                    </div>
                                </div>
                                <br />
                                @if (vot != null)
                                {

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@porcentagemA%" aria-valuemin="0" aria-valuemax="100">
                                            @porcentagemA%
                                        </div>
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:@porcentagemEmpate%" aria-valuemin="0" aria-valuemax="100">
                                            @porcentagemEmpate%
                                        </div>
                                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:@porcentagemB%" aria-valuemin="0" aria-valuemax="100">
                                            @porcentagemB%
                                        </div>
                                    </div><br />

                                }

                            </li>
                        }
                    </ul>
                }

            </div>
        </form>
    </div>
</section>

<script>
    var lis = $("li");

    window.onload = function () {
        $(document).scrollTop(@Session["posicao"]);

    };
    votar = function (botao) {
        var ids = botao.value.split("+");

        var idJogo = ids[1];
        var idTime = ids[0];

        var posicao = $(botao).offset().top - 600;

        $.ajaxSetup({ async: true });
        $.when($.post("/Apostas/Votar", { idJogo, idTime, posicao}, null)).then(function () {

        });
    }

    selecionarJogo = function (times) {
        var timeSelecionado = times.value;
        var div = $("#div");

        if (timeSelecionado == "") {
            div.remove(".jogos");
        }
        else {
            var inputs = $(".inputNomeTimes");
            var inputRemover = [];
            var tamanho = 0;

            for (var i = 0; i < inputs.length; i = i + 2) {
                var nomes;
                if (i == 0)
                    nomes = inputs[i].value.split("+");
                else
                    nomes = inputs[i - 1].value.split("+");
                if (nomes[0] != timeSelecionado && nomes[1] != timeSelecionado) {

                    inputRemover[tamanho] = i;
                    tamanho++;
                    inputRemover[tamanho] = i + 1;
                    tamanho++;
                }
            }  

            var node = document.getElementById("div");

            for (var i = 0; i < inputRemover.length; i++) {
                node.removeChild(node.childNodes[inputRemover[i]]);
            }
        }
    }

</script>