
<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" href="img/icone_bolao.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Bitter|Cabin|Noto+Sans|Rubik&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" src="~/Content/bootstrap.css" />
    <!---
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>--->
    <title>BETTING</title>
</head>
<body>
    <header>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Fechar &times;</a>
            @Html.ActionLink("Perfil", "Index", "Perfil", null, new { @class = "nav-link" })
            @{
        ProjetoBolao.Models.Usuario u = (ProjetoBolao.Models.Usuario)Session["usuarioLogado"];
        if (u == null)
        {
            @Html.ActionLink("Entrar", "Index", "Login", null, new { @class = "nav-link" })
}
else
{
        @Html.ActionLink("Olá, " + u.Nome, null, null, null, new { @class = "nav-link" })
}
            }
            <div id="sidebar" class="sidenav">
                <div class="relative">
                    <img src="...">
                    <div class="overlay bg-rgba-black text-white" style="padding: 30px">
                        <img class="circle" src="avatar.jpg" width="55">
                        <h5 class="mt-4">Emma Johnson</h5>
                        <div class="font-14">emmajs@gmail.com</div>
                    </div>
                </div>

                <div class="divider mt-0"></div>
                <form action="#">
                    <div class="input-group-icon input-group-icon-right">
                        <button type="submit" class="btn btn-icon-only btn-flat btn-rounded input-icon input-icon-right mr-2"><i class="ti-search"></i></button>
                        <input class="form-control form-control-line border-0" type="text" placeholder="Search" style="padding-left:30px">
                    </div>
                </form>

                <div class="divider"></div>
                <ul>
                    <li><a href="#">Getting started</a></li>
                    <li><a href="#">Installation</a></li>
                    ...
                </ul>
            </div>
        </div>

        <a onclick="openNav()" class="menuzinho">&#9776;</a>
        <div id="main">
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                }

    </script>
    </div>
    <div class="container">
        <div id="logo">
            <h1><span class="highlight">BET</span>TING</h1>
        </div>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Apostas", "Index", "Apostas", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Sobre nos", "Sobre", "Home", null, new { @class = "nav-link" })</li>
            </ul>
        </nav>
    </div>
    </header>
    @RenderBody()
    <footer>
        <p>BETTING, Copyright &copy; 2019</p>
    </footer>
    </body>
</html>
