@{
    ProjetoBolao.Models.Usuario u = (ProjetoBolao.Models.Usuario)Session["usuarioLogado"];
}

<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" href="img/icone_bolao.ico" type="image/x-icon" />
    <script src="~/Scripts/script.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" src="~/Content/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <title>BETTING</title>
</head>
<body>
    <header>
        <div id="mySidenav" class="sidenav">

            @{
                if (u != null)
                {
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
                            <img src="@u.Foto" />
                        </li>
                        <li>
                            <label>Olá, @u.Nome</label>
                            <label>Pontos : @u.qntsPontos</label>
                        </li>
                    </ul>
                }
                else
                {
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>

                }

                if (u == null)
                {
                    <ul class="link">
                        <li>
                            @Html.ActionLink("Entrar", "Index", "Login", null, new { @class = "nav-link" })
                            @Html.ActionLink("Ranking", "Index", "Ranking", null, new { @class = "nav-link" })
                            @Html.ActionLink("Grafico", "Grafico", "Home", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                }
                else
                {
                    @Html.ActionLink("Perfil", "Index", "Perfil", null, new { @class = "nav-link" })
                    @Html.ActionLink("Notificações", "Index", "Notificacao", null, new { @class = "nav-link" })
                    @Html.ActionLink("Ranking", "Index", "Ranking", null, new { @class = "nav-link" })
                    @Html.ActionLink("Grafico", "Grafico", "Home", null, new { @class = "nav-link" })

                    @Html.ActionLink("Sair ", "Sair", "Home", null, new { @class = "nav-link" })
                }
            }
        </div>
        <a onclick="openNav()" href="javascript:void(0)" class="menuzinho">&#9776;</a>
        <div id="main">
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                }

            </script>
        </div>        
        <div class="container">
            <div id="logo">
                <h1><span class="highlight">BET</span>TING</h1>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Apostas", "Index", "Apostas", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sobre nos", "Sobre", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="overlay">
    @RenderBody()
    </div>
    <footer>
        <p>BETTING, Copyright &copy; 2019</p>
    </footer>
</body>
</html>
