
@{
    Layout = "~/Views/Shared/_Perfil.cshtml";
}

<section id="admin">
    <div class="container">
        <br />
        <h1>Adicionando Resultado....</h1>
        <a class="nav-link" href="/Admin">&#8630; Voltar</a>
        <br /><br />
        @foreach (ProjetoBolao.Models.Jogo j in ViewBag.Jogos)
        {
            if(j.Ocorreu == 1)
            {
                continue;
            }

            ProjetoBolao.Models.Time timeA = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeA);
            ProjetoBolao.Models.Time timeB = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeB);
            <form action="/Admin/AdicionarResultado">
                <input type="hidden" value="@j.Id" name="r.CodJogo"/>
                <div class="container-fluid">
                    <input type="hidden" name="v.CodJogo">
                    <div class="card-group">
                        <!-- Card 1 -->
                        <div class="card">
                            <div class="card-header">@timeA.NomeTime</div>
                            <div class="card-body">
                                <img src="@timeA.Foto" alt="Foto do time">
                            </div>
                            <div class="card-footer">
                                <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                    </span>
                                    <input type="text" class="form-control text-center" name="r.QtdGolA" value="0">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Card 2 -->
                        <div class="card">
                            <div class="card-header">@timeB.NomeTime</div>
                            <div class="card-body ">
                                <img src="@timeB.Foto" alt="Foto do time">
                            </div>
                            <div class="card-footer">
                                <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                    </span>
                                    <input type="text" class="form-control text-center" name="r.QtdGolB" value="0">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Adicionar Resultado</button>
                <br />
                <br />
            </form>
        }
    </div>
</section>
<script>

    $(document).on('click', '.number-spinner button', function () {
        var btn = $(this),
            oldValue = btn.closest('.number-spinner').find('input').val().trim(),
            newVal = 0;

        if (btn.attr('data-dir') == 'up') {
            newVal = parseInt(oldValue) + 1;
        } else {
            if (oldValue > 1) {
                newVal = parseInt(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        btn.closest('.number-spinner').find('input').val(newVal);
    });

</script>